.container{
  width: 100%;
 display: flex;
 flex-direction: column;
}
.actions_acount {
  width: 100%;
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.information {
  height: 45px;
  line-height: 45px;
}
.email_information {
  height: 45px;
  line-height: 45px;
}
.actions_acount span {
  font-size: 14px;
  color: var(--color-text2);
  margin-left: 20px;
}
.actions_acount p {
  font-size: 14px;
}
.buttons {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.edit_button {
  width: 100px;
  height: 40px;
  border: none;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-complementry);
}
.edit_button img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.enter_button {
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}
.enter_button:hover {
  box-shadow: 1px 1px 5px 1px var(--color-text);
}
.edit_form {
  height: fit-content;
  display: flex;
  gap: 25px;
}
.actions_acount form {
  width: fit-content;
  height: fit-content;
}
.actions_acount input {
  width: 250px;
  border: 1px solid var(--color-text2);
  padding: 10px;
  border-radius: 5px;
}
.error_message {
  width: 150px;
  height: 10px;
}
.cancel_button {
  width: 100px;
  height: 45px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  background-color: #fff;
  color: var(--color-primary);
  cursor: pointer;
}
.cancel_button:hover {
  box-shadow: 1px 1px 5px 1px var(--color-text);
}

@media(max-width: 390px){
.container{
  width: 390px;
  height: 200px;
  
}
.actions_acount{
  width: 390px;
  flex-direction: column;
  padding: 5px;
}
.information{
  display: flex;
  justify-content: space-between;
}
.information p{
  font-size: 12px;
}
.email_information{
  width: 100%;

  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.email_information p{
  font-size: 12px;
  width: fit-content;
  height: fit-content;
}
.edit_button{
  width: fit-content;
  font-size: 11px;
}
}