.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.name,
.melli,
.sheba {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.name div,
.melli div {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 25px;
}
.name p,
.melli p {
  font-size: 14px;
  width: 180px;
  text-align: right;
}

.buttons {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.edit_button {
  width: 100px;
  height: 40px;
  border: none;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-complementry);
}
.edit_button img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.enter_button {
  width: 144px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}
.enter_button:hover {
  box-shadow: 1px 1px 5px 1px var(--color-text);
}
.cancel_button {
  width: 144px;
  height: 40px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  background-color: #fff;
  color: var(--color-primary);
  cursor: pointer;
}
.cancel_button:hover {
  box-shadow: 1px 1px 5px 1px var(--color-text);
}
.edit_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.edit_input {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.edit_list input {
  width: 255px;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--color-text2);
  border-radius: 5px;
}
.inputs {
  width: fit-content;
  height: 55px;
  display: flex;
  flex-direction: column;
}
.error {
  font-size: 12px !important;
  color: red !important;
}
