@import "./variables.css";
@font-face {
  font-family: "yekanbakh";
  src: url("/fonts/BYekan.woff") format("woff");
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  /* padding: 0 10px; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yekanbakh, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}
.all {
  width: 100%;
  max-width: 1400px;
  /* margin: 0 auto; */
  /* padding: 0 20px; */
}
