@import "./variables.css";
@font-face {
  font-family: "yekanbakh";
  src: url("/fonts/BYekan.woff") format("woff");
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yekanbakh, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}
.all {
  width: 100%;
  max-width: 1400px;
}


.rmdp-day {
  width: 25px !important;
  height: 25px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}



.rmdp-day span {
  border-radius: 50% !important;
  font-size: 15px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

}

.rmdp-range {
  background-color: var(--color-primary) !important;
  border-radius: 50% !important;
}



