.container {
  flex: 1;
  width: 100%;
  height: fit-content;
}
.banner {
  max-width: 1265px;
  height: fit-content;
}
.banner_text {
  width: 100%;
  height: fit-content;
  font-size: 25px;
  text-align: center;
  color: var(--color-text);
}
.banner_text span {
  color: var(--color-primary);
}
.components {
  padding: 0 50px;
  margin: 0 auto;
}

@media (max-width: 390px) {
  .banner {
    max-width: 390px;
    height: 130px;
  }
  .banner_text {
    width: 390px;
    font-size: 16px;
  }
}
