.container {
  width: 1100px;
  height: 600px;
  margin: auto;
  display: flex;
  gap: 20px;

}
.right {
  width: 20%;
  height: fit-content;
  border: 1px solid var(--color-text2);
  border-radius: 16px;
  overflow: hidden;
}
.right li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-text2);
}
.right li img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 5px;
}
.right li p{
    font-size: 14px;
}
.selected{
    background-color: var(--color-select);
    color: var(--color-primary);
}
.left {
  width: 80%;
  height: 600px;
}
