.container {
  border: 1px solid var(--color-text2);
  border-radius: 18px;
  height: 70px;
  margin: 50px auto;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}


.container select{
 appearance: none;
  width: 200px;
  border: none;
  height: 40px;
  padding: 2px;
  font-size: 14px;
  cursor: pointer;
 border-left: 2px solid var(--color-text2);
}
.container select:focus{
  outline: none;
}

.selectBox{
display: flex;
align-items: center;
gap: 5px;
}
.datepicker_button {
  
  width: 140px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 8px;
  border: none;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  color: var(--color-text);
}

.clearButton{
  width: 20px;
  height: 20px;
  border: none;
  
}
.clearButton button{
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: red;
  cursor: pointer;
}

.datepicker_button img {
  width: 16px;
  height: 16px;
}

.search_button {
  width: 140px;
  background: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.search_button:hover {
  box-shadow: 1px 1px 5px 1px var(--color-text);
}

@media (max-width: 390px) {
  .container {
    width: fit-content;
    height: fit-content;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;   /* وسط‌چین افقی */
    justify-content: center; /* وسط‌چین عمودی */
    gap: 10px;
    margin: 0 auto; /* برای وسط قرار گرفتن خود container */
    padding: 10px;
  }

  .container select {
    width: 200px;
    text-align: center;
    border: none;
    
  }
  .selectBox{
    border: 1px solid var(--color-text2);
    border-radius: 5px;
    padding: 5px;
  }

  .datepicker_button {
    width: 240px;
    justify-content: center;
    height: 50px;
    border: 1px solid var(--color-text2);
    
  }

  .search_button {
    width: 200px;
  }

  .selectBox {
    justify-content: center;
  }

  .clearButton {
    display: flex;
    justify-content: center;
  }
}